@charset "utf-8";

html,body {
margin: 0;
padding: 0;
font-family: Helvetica Neue, sans-serif;
height: 100vh;
font-size: 16px;
background-image: url('image/shiga.jpeg');
background-size: cover;
background-attachment: fixed;
background-position: top center;
background-repeat: no-repeat;
background-blend-mode: screen;
}


img{
border: 0;
}

header {
background-color: white;
color: black;
display: flex;
justify-content: left;
align-items: center;
font-size: 1em;
position: fixed;
width: 100%;
height: 40px;
top: 0;
padding-left: 20px;
}

footer {
background-color: white;
display: flex;
justify-content: center;
align-items: center;
color: black;
text-align: center;
font-size: 0.8em;
width: 100%;
height: 30px;
bottom: 0;
}

label{
padding: 3px 5px;
border-radius: 5px;
}

img.app-icon{
max-width: 100%;
height: auto;
object-fit: cover;
}

.device{
display: inline-block;
background-color: #f0f0f0;
color: #000000;
font-size: 0.8em;
}

.app-link{
display: flex;
}

img.download{
height: 40px;
width: auto;
margin-top: 10px;
}

a.credit{
margin: 0 10px;
font-size: 0.8em;
color: #999999;
text-decoration: none;
text-align: center;
}

#container{
padding: 300px 0 100px 0;
}

#credit{
width: 100%;
height: 30px;
bottom: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
}

.content {
margin: 0 50px;
display: grid;
grid-template-columns: repeat(2, 1fr);
box-sizing: border-box;
}

.item{
padding: 20px;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
border: 1px solid #cccccc;
margin: 10px;
border-radius: 0px;
background-color: rgb(255 255 255/100%);
}

.icon{
width: 30%;
padding: 10px;
box-sizing: border-box;
}

.app-credit{
width: 70%;
padding-left: 10px;
box-sizing: border-box;
}

.app-message{
width: 100%;
font-size: 0.8em;
box-sizing: border-box;
margin-top: 5px;
padding: 5px;
}

.about-us{
margin: 0 50px;
padding: 20px 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
box-sizing: border-box;
border-radius: 0px;
background-color: rgb(255 255 255/100%);
}

.profile-container{
width: 70%;
height: auto;
display: block;
justify-content: center;
text-align: center;
box-sizing: border-box;
}


.contact{
margin: 0 50px 100px 50px;
padding: 20px 0px;
font-size: 1em;
text-align: center;
border-radius: 0px;
background-color: rgb(255 255 255/100%);
}

.pp{
margin: 0 50px;
}

h1{
margin: 100px 0;
font-size: 2em;
text-align: center;
color: white;
}

h2{
margin: 10px 0;
font-size: 1.2em;
}

h3{
margin: 10px 0;
font-size: 1.2em;
}

li.large{
font-size: 1.2em;
margin: 10px 0;
}



@media only screen and (max-width : 599px){

	html,body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
		height: 100vh;
		font-size: 10px;
		background-image: url('image/shiga.jpeg');
		background-size: cover;
		background-attachment: fixed;
		background-position: top center;
		background-repeat: no-repeat;
		background-blend-mode: screen;
	}

	#container{
		padding: 200px 0 50px 0;
	}

	h1{
		margin: 50px 0;
		font-size: 2em;
		text-align: center;
		
	}

	.content {
		margin: 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		box-sizing: border-box;
	}

	.about-us{
		margin: 0 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		box-sizing: border-box;
	}

	.profile-container{
		width: 100%;
	
	}

	.contact{
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 1em;
		text-align: center;
	}

	.pp{
		margin: 0 10px;
	}

	img.download{
	height: 30px;
	width: auto;
	margin-top: 10px;
	}

	.item{
	margin: 10px 20px;
	}

	.profile{
	width: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	}

}

@media only screen and (min-width : 1024px){
	.content{
	margin: 0 100px;
}

}

